body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.folder {
    width: 200px;
    background-color: #ffc107;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.folder-top {
    width: 50%;
    height: 20px;
    background-color: #ffca28;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
}

.folder-body {
    padding: 20px;
    background-color: #ffeb3b;
    border-radius: 0 0 5px 5px;
}

.file-link {
    display: flex;
    align-items: center;
    /* text-decoration: none; */
    color: #000;
    padding-bottom: 10px;
}

.file-icon {
    width: 30px;
    margin-right: 10px;
}

.file-name {
    font-weight: bold;
}
